

.login-container {
    width: 300px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .login-form {
    margin-bottom: 15px;
  }
  
  .label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
  }
  
.form-input:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  .login-button-form{
    width: 106%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top:25px;
    font-size:15px;
  }
  
  
  
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .signup-msg {
    text-align: center;
    margin-top: 20px;
  }
  
  .signup-msg a {
    color: #4CAF50;
    text-decoration: none;
  }
  
  .signup-msg a:hover {
    text-decoration: underline;
  }
   